<%= form_tag(:action => 'show', :method => 'post', :selection => true) do %>

  <%= select_tag(:sort_by, options_for_select(@fields + [['Item Type', 'item_type']])) %>

  <% @selection.each do |k, v| %>
    <%= hidden_field_tag(k, v) %>
  <% end %>

  <%= submit_tag('Sort') %>

<% end %>

<%= button_to('Start Over', {:action => 'index'}) %>

<table>
  <tr>
      <% @fields.each do |f| %>
      <th><%= f.first %></th>
    <% end %>
    <th>Item</th>
    <th>Type of Item</th>
  </tr>

  <% @transactions.each do |t| %>
    <tr>
      <td><%= t.id %></td>
      <td><%= t.borrowed %></td>
      <% link_info = customer_link(t.customer) %>
      <td><%= link_to(link_info[0],link_info[1]) %></td>
      <td><%= code_to_label("get_types", t.transaction_type) %></td>
      <td><%= t.sheet_code %></td>
      <% reported = (t.reported) ? "Reported" : "Not Reported" %>
      <td><%= reported %></td>
      <% t.items.each do |item| %>
        <% url = {:controller => 'items', :action => 'show', :item_id => item.id} %>
        <td><%= link_to(item.name, url) %></td>
        <td><%= item.item_type %></td>
      </tr>
      <% if t.items.size > 1 %>
        <tr>
        <% @fields.size.times do %>
          <td></td>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</table>