<script>
  function displayDateForm() {
    var dateOption = document.getElementById("dateSelection").value;
    var dateFields = document.getElementsByClassName("dates");
    var i;
    var displayValue = (dateOption === "Between") ? "table-row" : "none";
    for (i = 0; i < dateFields.length; i++) {
      dateFields[i].style.display = displayValue;
    }
    if (dateOption !== "Between") {
          document.getElementById(dateOption).style.display = "table-row";
    }
  }
</script>

<h1>Sort#select</h1>
<%= form_tag({:action => "index", :method => "post", :selection => true}) do %>
  <table class='vertical'>
    <tr>
      <th><%= label_tag(:transaction_type, "Transaction Type") %></th>
      <td><%= select_tag(:transaction_type, options_for_select(@transaction_options)) %></td>
    </tr>
    <tr>
      <th><%= label_tag(:borrower_type, "Borrower Type") %></th>
      <td><%= select_tag(:borrower_type, options_for_select(@borrow_options)) %></td>
    </tr>
    <tr>
      <th><%= label_tag(:purpose_of_at, "Purpose of AT") %></th>
      <td><%= select_tag(:purpose_of_at, options_for_select(@at_options)) %></td>
    </tr>
    <tr>
      <th><%= label_tag(:sheet_code, "Sheet Code") %></th>
      <td><%= text_field_tag(:sheet_code) %></td>
    </tr>
    <tr>
      <th><%= label_tag(:reported, "Reported") %></th>
      <td><%= check_box_tag(:reported) %></td>
    </tr>
    <tr>
      <th><%= label_tag(:not_reported, "Not Reported") %></th>
      <td><%= check_box_tag(:not_reported) %></td>
    </tr>
    <tr>
      <th><%= label_tag(:date_option, "Date Range") %></th>
      <td>
        <select onchange='displayDateForm();' id="dateSelection" name="date_method">
          <option></option>
          <option value="Before">Before</option>
          <option value="After">After</option>
          <option value="Between">Between</option>
        </select>
      </td>
    </tr>
    <tr class='dates' id='Before' style="display:none">
      <th><%= label_tag(:b, "Before") %></th>
      <td><%= select_date Date.today, prefix: :before %></td>
    </tr>
    <tr class='dates' id='After' style="display:none">
      <th><%= label_tag(:after, "After") %></th>
      <td><%= select_date Date.today, prefix: :after %></td>
    </tr>
  </table>
  <%= submit_tag("Select") %>
<% end %>